---
import Layout from "../../../layouts/Layout.astro";

import {
  getPages,
  getPage,
  getPageById,
  getProducts,
  getProduct,
  getPost,
} from "../../../lib/api.js";

import BlockBlog from "../../../components/BlockBlog.vue";

const { lang, slug } = Astro.params;
const page = await getPost(slug, lang);
const seo = page?.yoast_head_json ?? null;

const colorText = "text-black";
const bgHeader = "bg-white";

//console.log(page);

const flexibleSections = page?.acf?.flexible_blog || [];
const date = page?.acf?.date;
const words = page?.acf?.words;
const featuredMedia = page?._embedded?.["wp:featuredmedia"]?.[0]?.link;
const categories = page?._embedded?.["wp:term"]?.[0];

const credits = page?.acf?.creedits?.credit;

// url para compartir
const pageUrl = `${Astro.site ?? ""}${Astro.url.pathname}`;
const encodedUrl = encodeURIComponent(pageUrl);
const encodedText = encodeURIComponent(
  `Look at: https://novameat.com${pageUrl}`
);
---

<Layout
  lang={lang}
  page={page}
  seo={seo}
  slug={slug}
  colorText={colorText}
  bgHeader={bgHeader}
>
  <div class="intro-post">
    <div class="left">
      <p>{date}</p>
    </div>
    <div class="center">
      <span>( Log. 01 )</span>
      <h1 class="text-center text-title">{page?.title.rendered}</h1>
      <img
        src={featuredMedia}
        alt={page?.title.rendered ?? "Imagen destacada"}
      />
      <p class="excerpt" set:html={page?.excerpt?.rendered} />
      <div class="categories">
        {
          categories.map((category: any) => (
            <div class="category">
              <span>{category.name}</span>
            </div>
          ))
        }
      </div>
    </div>
    <div class="right">
      <p>{words}</p>
    </div>
  </div>

  <div class="flex flex-col wrapper-content-flexible wrapper-blog mt-header">
    {
      flexibleSections.map((section: any) => {
        if (section.acf_fc_layout === "block_blog") {
          return <BlockBlog section={section} client:only />;
        }

        return null;
      })
    }
  </div>

  <div class="md:grid md:grid-cols-12 w-full">
    <div class="share md:grid col-span-6 col-start-4">
        <p class="mb-md">Share on</p>
        <ul>
          <li>
            <a
              href={`https://twitter.com/intent/tweet?url=${encodedUrl}&text=${encodedText}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              Twitter
            </a>
          </li>
          <li>
            <a
              href={`https://www.linkedin.com/shareArticle?mini=true&url=${encodedUrl}&summary=${encodedText}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
          </li>
          <li>
            <a
              href={`https://api.whatsapp.com/send?text=${encodedText}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              WhatsApp
            </a>
          </li>
        </ul>
      </div>
  </div>
  

  <div class="post-credits block-dots">
    <h3>Credits</h3>
    <div class="credits">
      {
      Array.isArray(credits)
        ? credits.map((credit) => (
            <div class="credit">
              <span>{credit.role}</span>
              <p class="name">{credit.name}</p>
              <p class="description">{credit.description}</p>
            </div>
          ))
        : null
    }
    </div>
  </div>
  
</Layout>
