---
import Layout from '../layouts/Layout.astro';
import PointsSlider from "../components/PointsSlider.vue"
import BlockText from "../components/BlockText.vue"
import PlaySlider from "../components/PlaySlider.vue"
import BlockCategoryProduct from "../components/BlockCategoryProduct.vue"
import ButtonSection from "../components/ButtonSection.vue"
import BlockImage from "../components/BlockImage.vue"
import BlockTeam from "../components/BlockTeam.vue"
import BlockCountries from "../components/BlockCountries.vue"
import BlockLogos from "../components/BlockLogos.vue"
import BlockPress from "../components/BlockPress.vue"
import BlockInvestors from "../components/BlockInvestors.vue"
import BlockCentralMessage from '../components/BlockCentralMessage.vue';
import SubHeader from '../components/subHeader.vue';
import BlockRelated from '../components/BlockRelated.vue';
import BlockFeedBlog from '../components/BlockFeedBlog.vue'

const { lang, slug, page } = Astro.props;

const seo = page?.yoast_head_json ?? null;
const flexibleSections = page?.acf?.flexible_content || [];

const colorText = "text-black";
const bgHeader = "bg-white";
---

<Layout lang={lang} page={page} seo={seo} slug={slug} colorText={colorText} bgHeader={bgHeader}>
  <div class="flex flex-col wrapper-content-flexible">
    <div class="flex flex-col wrapper-content-flexible">
{
    flexibleSections.map((section: any) => {
      if (section.acf_fc_layout === "points_slider") {
        return <PointsSlider section={section} client:only />;
      } else if(section.acf_fc_layout === "block_text") {
        return <BlockText section={section} client:only />;
      } else if(section.acf_fc_layout === "play_slider") {
        return <PlaySlider section={section} client:only />;
      } else if(section.acf_fc_layout === "block_category_product") {
        return <BlockCategoryProduct section={section} lang={lang} client:only />;
      } else if(section.acf_fc_layout === "button") {
        return <ButtonSection section={section} client:only />;
      } else if(section.acf_fc_layout === "block_image") {
        return <BlockImage section={section} client:only />;
      } else if(section.acf_fc_layout === "block_team") {
        return <BlockTeam section={section} client:only />;
      } else if(section.acf_fc_layout === "block_countries") {
        return <BlockCountries section={section} client:only />;
      } else if(section.acf_fc_layout === "block_logos") {
        return <BlockLogos section={section} client:only />;
      } else if(section.acf_fc_layout === "block_press") {
        return <BlockPress section={section} client:only />;
      } else if(section.acf_fc_layout === "block_investors") {
        return <BlockInvestors section={section} client:only />;
      } else if(section.acf_fc_layout === "block_message_central") {
        return <BlockCentralMessage section={section} client:only />;
      } else if(section.acf_fc_layout === "sub_header") {
        return <SubHeader colorText={colorText} bgHeader={bgHeader} section={section} client:only />;
      } else if(section.acf_fc_layout === "block_related") {
        return <BlockRelated section={section} client:only />;
      } else if(section.acf_fc_layout === "block_feed_blog") {
        return <BlockFeedBlog section={section} lang={lang} client:only />;
      } 
      
      return null; 
    })
    
}
</div>
  </div>
</Layout>
