---
import Layout from '../../layouts/Layout.astro';

const { lang } = Astro.params;

import { getPage } from "../../lib/api.js";

// Traducciones JSON
// 1️⃣ “Glob” de todos los JSON de idiomas (eager para cargarlos en build)
const localeModules = import.meta.glob("../../locales/*.json", {
  eager: true,
  as: "json",
});

// 2️⃣ Selecciona el JSON correspondiente a `lang`
const localePath = `../../locales/${lang}.json`;
const messages = localeModules[localePath] || {}; // si no existe, devolvemos un objeto vacío


const colorText = "text-black";
const bgHeader = "bg-pink";

const page = await getPage("contacto", lang);
---

<Layout lang={lang} page={page} colorText={colorText} bgHeader={bgHeader}>
  <section class="bg-pink contact-section ">
    
    <form id="contact-form" class="p-sm pt-xxl-2 md:pt-xxl md:p-md flex flex-col md:flex-row md:flex-wrap">
      <div class="intro-form w-full md:w-1/3 pb-xxl-2">
        <p class="text-p md:text-p-small md:max-w-max-ssm">{page?.acf?.intro_text}</p>
      </div>
      <div class="inputs-form w-full md:w-1/3">
        <div class="inputs-form-wrapper ">
          <div>
            <label for="email">{page?.acf?.form?.name}*</label>
            <input
              id="name"
              type="text"
              name="name"
              required
            />
          </div>
          <div>
            <label for="email">{page?.acf?.form?.company}*</label>
            <input
              id="company"
              type="text"
              name="company"
              required
            />
          </div>
          <div>
            <label for="email">{page?.acf?.form?.email}*</label>
            <input
              id="email"
              type="email"
              name="email"
              required
            />
          </div>
  
          <div class="radio-buttons">
            <legend>{page?.acf?.form?.business}*</legend>
            <div class="">
              <div class="flex items-center">
                (
                <input
                  type="radio"
                  id="restaurant"
                  name="service"
                  value="restaurant"
                  required
                />
                <div class="dot-check"></div>
                )
                <label for="restaurant">{page?.acf?.form?.businnes_options?.option1}</label>
              </div>
              <div class="flex items-center">
                (
                <input
                  type="radio"
                  id="catering"
                  name="service"
                  value="catering"
                  required
                />
                <div class="dot-check"></div>
                )
                <label for="catering">{page?.acf?.form?.businnes_options?.option2}</label>
              </div>
              <div class="flex items-center">
                (
                <input
                  type="radio"
                  id="distributor"
                  name="service"
                  value="distributor"
                  required
                />
                <div class="dot-check"></div>
                )
                <label for="distributor">{page?.acf?.form?.businnes_options?.option3}</label>
              </div>
              <div class="flex items-center">
                (
                <input
                  type="radio"
                  id="manufacturer"
                  name="service"
                  value="manufacturer"
                  required
                />
                <div class="dot-check"></div>
                )
                <label for="manufacturer">{page?.acf?.form?.businnes_options?.option4}</label>
              </div>
              <div class="flex items-center">
                (
                <input
                  type="radio"
                  id="retailer"
                  name="service"
                  value="retailer"
                  required
                />
                <div class="dot-check"></div>
                )
                <label for="retailer">{page?.acf?.form?.businnes_options?.option5}</label>
              </div>
              <div class="flex items-center">
                (
                <input
                  type="radio"
                  id="other"
                  name="service"
                  value="other"
                  required
                />
                <div class="dot-check"></div>
                )
                <label for="other">{page?.acf?.form?.businnes_options?.option6}</label>
              </div>
            </div>
            
          </div>
    
          <div >
            <label for="subject">{page?.acf?.form?.subject}*</label>
            <input
              id="subject"
              type="text"
              name="subject"
              required
            />
          </div>

          
        
        </div>
      </div>
      
      <div class="textarea-form w-full md:w-1/3">
        <div class="flex flex-col md:max-w-max-ssm mx-auto">
          <label for="message">{page?.acf?.form?.message}*</label>
          <textarea
          class="mt-sm"
            id="message"
            name="message"
            required
          ></textarea>
        </div>
        <div class="radio-buttons w-full mt-lg ">
            <div class="flex items-center w-full justify-center">
              (
              <input
                type="checkbox"
                id="privacy"
                name="privacy"
                value="privacy"
                required
              />
              <div class="dot-check"></div>
              )
              <label for="privacy" class="inline-block !text-wrap">
                He leído y acepto la
                <a
                  class="underline"
                  href={`/${lang}/legal/${messages.legal.urls.privacy_statement}`}
                  target="_blank"
                  rel="noopener">{messages.footer.privacy_statement}</a
                >
                <br>y el uso de la
                <a
                  class="underline"
                  href={`/${lang}/legal/${messages.legal.urls.cookie_information}`}
                  target="_blank"
                  rel="noopener">{messages.footer.cookie_information}</a
                >.</label
              >
            </div>
          </div>
      </div>

      
      
      <div class="button-wrapper mt-xxl-2">
        <button class="w-full aspect-[308/143] cursor-pointer font-haffe bg-black !text-pink md:bg-transparent md:!text-black h-full flex justify-center items-center border md:border-black rounded-full md:hover:border-none md:hover:bg-black md:hover:!text-pink" type="submit">{page?.acf?.button_text}</button>
      </div>
     
    </form>
    <script type="module">
      const form = document.getElementById('contact-form');
      form.addEventListener('submit', async e => {
        e.preventDefault();
        const data = Object.fromEntries(new FormData(form));
        const res = await fetch(`/${Astro.params.lang}/api/send-mail`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            mail: data.email,
            subject: data.subject,
            message: data.message,
            service: data.service,
          }),
        });

        if (res.ok) {
          alert('¡Correo enviado!');
          form.reset();
        } else {
          const err = await res.json();
          alert('Error al enviar: ' + err.error);
        }
      });
    </script>
  </section>
    

    

    
</Layout>